
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Find My Outfit</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Custom font-->
    <link rel="stylesheet" href="fonts/stylesheet.e9dc714d.css">
    <!-- Swiper-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/varkala/2-0-1/vendor/swiper/swiper-bundle.min.css">
    <!-- AOS - AnimationOnScroll-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/varkala/2-0-1/vendor/aos/aos.css">
    <!-- Custom Scrollbar-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/varkala/2-0-1/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <!-- Theme stylesheet-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/varkala/2-0-1/css/style.default.7d4baeb2.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/varkala/2-0-1/css/custom.0a822280.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="https://d19m59y37dris4.cloudfront.net/varkala/2-0-1/img/favicon.png">
    <!-- FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css">
  </head>
  <body>
    <!-- navbar-->
    <header class="header header-absolute"> 
    
      <!-- Top Bar End-->
      <nav class="navbar navbar-expand-lg bg-transparent border-0 shadow-0 navbar-light px-lg-5 "><a class="navbar-brand" href="index.html"></a>
        <ul class="list-inline mb-0 d-block d-lg-none">
          
        </ul>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <svg class="svg-icon navbar-icon">
            <use xlink:href="#menu-hamburger-1"> </use>
          </svg>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav mt-3 mt-lg-0">
            <li class="nav-item dropdown active"><a class="nav-link dropdown-toggle" id="homeDropdown" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
              
            </li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="shopDropdown" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
              
            </li>
            
      
          </ul>
          
        </div>
      </nav>
    </header>
    <!-- Slider main container-->
    <div class="swiper swiper-container home-slider" style="height: 95vh; min-height: 600px;">
      <!-- Additional required wrapper-->
      <div class="swiper-wrapper">

        <!-- Slides-->
        <div class="swiper-slide bg-cover bg-cover-right" style="background-image: url('https://d19m59y37dris4.cloudfront.net/varkala/2-0-1/img/photo/home-1-plain.jpg');">
          <div class="container-fluid px-lg-6 px-xl-7 h-100">
            <div class="row h-100 align-items-center" data-swiper-parallax="-500">
              <div class="col-lg-6">
                <p class="subtitle letter-spacing-3 mb-3 text-dark font-weight-light">Number #1 Outfit Recommendation</p>
                <h2 class="display-1 mb-3" style="line-height: 1">Find My outfit</h2>
                <p class="text-muted mb-5">This is an outfit recommendation application that is powered by Machine learning.
            
                </p><a class="btn btn-dark" href="http://localhost/Dragons-Den/login.html">Get Started</a>
              
              </div>
            </div>
          </div>    
        </div>
        
    
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-nav d-none d-lg-block">
        
      </div>
    </div>
    <!-- Categories big-->
    
    <div class="container-fluid container-fluid-px py-6">
      <div class="row">
        <div class="col-lg-10 col-xl-8 text-center mx-auto">
          <h2 class="display-3 mb-5">Find My Outfit Team</h2>
          <p class="lead text-muted mb-6">This application is created for Software development Project 2022</p>
          <p class="lead text-muted mb-6"></p>
        </div>
      </div>
      <div class="row justify-content-between align-items-center mb-4">
        <div class="col-12 col-sm">
            
        </div>
        <div class="col-12 col-sm-auto text-center"><a class="btn btn-link px-0" href="#">#1 outfit Generator</a></div>
      </div>
      <div class="row">
       
        
      </div>
    </div>
    <div class="py-6 bg-cover bg-cover-right" style="background-image: url(https://d19m59y37dris4.cloudfront.net/varkala/2-0-1/img/photo/deal-plain.jpg);">
      <div class="container">
        <div class="container py-6">
            <h5 class="text-uppercase text-primary letter-spacing-3 mb-3">SDGP Team Members </h5>
            <p class="lead text-muted mb-1">Pasindu</p>
            <p class="lead text-muted mb-1">Ceshaan</p>
            <p class="lead text-muted mb-1">Navin</p>
            <p class="lead text-muted mb-1">Janith</p>
            <p class="lead text-muted mb-1">Pramith</p>
            
          </div>
      </div>
    </div>
    
    <!-- Brands Section-->
   
    
    <!-- Sidebar Modal Right-->
   
    <!-- Login Modal    -->
    <!-- Footer-->
    <footer>
      <!-- Services block-->
      <div class="py-5 py-lg-6 bg-gray-100">
        <div class="container">
          <div class="row">
            <h5 class="text-uppercase text-primary letter-spacing-3 mb-3">"Quote"</h5>
          </div>
        </div>
      </div>
      <!-- Main block - menus, subscribe form-->
      <div class="py-6 text-muted"style="background-color: #efebdf;"> 
        <div class="container" style="color: black;">
          <div class="row">
            <div class="col-lg-5 pe-lg-5 pe-xl-6 mb-5 mb-lg-0">
              <h6 class="text-dark letter-spacing-1 mb-4">Be in touch</h6>
              <p class="text-sm mb-3"> Subscribe To our News Feed</p>
              <form action="#" id="newsletter-form">
                <div class="input-group input-group-underlined mb-3">
                  <input class="form-control form-control-underlined" type="email" placeholder="Your Email Address" aria-label="Your Email Address">
                  <button class="btn btn-underlined text-gray-700 py-0" type="button"> 
                    <svg class="svg-icon w-2rem h-2rem">
                      <use xlink:href="#envelope-1"> </use>
                    </svg>
                  </button>
                </div>
              </form>
            </div>
            
          </div>
        </div>
      </div>
      <!-- Copyright section of the footer-->
      <div class="py-4 fw-light text-muted">
        <div class="container">
          <div class="row align-items-center text-sm text-gray-500">
            <div class="col-lg-4 text-center text-lg-start">
              <p class="mb-lg-0">&copy; 2022, Find My Outfit.  All rights reserved.</p>
            </div>
            <div class="col-lg-8">
              
            </div>
          </div>
        </div>
      </div>    
    </footer>
    <!-- /Footer end-->
    <!-- JavaScript files-->
    <script>
     
      function injectSvgSprite(path) {
      
          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }
      // this is set to Bootstrapious website as you cannot 
      // inject local SVG sprite (using only 'icons/orion-svg-sprite.3f375885.svg' path)
      // while using file:// protocol
      // pls don't forget to change to your domain :)
      injectSvgSprite('https://demo.bootstrapious.com/varkala/1-1/icons/orion-svg-sprite.svg'); 
      injectSvgSprite('https://demo.bootstrapious.com/varkala/1-1/icons/varkala-clothes.svg'); 
      injectSvgSprite('https://demo.bootstrapious.com/varkala/1-1/img/shape/blob-sprite.svg'); 
      
    </script>
    <!-- jQuery-->  
    <script src="https://d19m59y37dris4.cloudfront.net/varkala/2-0-1/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Bundle -->
    <script src="https://d19m59y37dris4.cloudfront.net/varkala/2-0-1/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Swiper Carousel                       -->
    <script src="https://d19m59y37dris4.cloudfront.net/varkala/2-0-1/vendor/swiper/swiper-bundle.min.js"></script>
    <!-- Bootstrap Select-->
    <script src="https://d19m59y37dris4.cloudfront.net/varkala/2-0-1/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    <!-- AOS - AnimationOnScroll-->
    <script src="https://d19m59y37dris4.cloudfront.net/varkala/2-0-1/vendor/aos/aos.js"></script>
    <!-- Custom Scrollbar-->
    <script src="https://d19m59y37dris4.cloudfront.net/varkala/2-0-1/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom-scrollbar-init.f148089f.js"></script>
    <!-- Smooth scroll-->
    <script src="https://d19m59y37dris4.cloudfront.net/varkala/2-0-1/vendor/smooth-scroll/smooth-scroll.polyfills.min.js"></script>
    <!-- Object Fit Images - Fallback for browsers that don't support object-fit-->
    <script src="https://d19m59y37dris4.cloudfront.net/varkala/2-0-1/vendor/object-fit-images/ofi.min.js"></script>
    <!-- JavaScript Countdown-->
    <script src="js/countdown.782bfd78.js"></script>
    <script>
      var deadline = new Date(Date.parse(new Date()) + 15 * 24 * 60 * 60 * 1000);
      var countdown = new Countdown('countdown', deadline);
      
    </script>
    <!-- Some theme config-->
    <script>
      var options = {
          navbarExpandPx: 992
      }
      
    </script>
    <!-- Main Theme files-->
    <script src="js/sliders-init.620846f2.js"></script>
    <script src="js/theme.a9fd4638.js"></script>
  </body>
</html>