<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <img src="http://127.0.0.1:5000/static/OutfitImages/{{top[0]}}.jpg" alt="User Image">
<h1>Result page</h1>
<h3>age : {{age}}</h3>
<h3>gender : {{gender}}</h3>
<h3>event : {{event}}</h3>
<h3>season : {{season}}</h3>
<br>
<h3>Recommended Top-ware IDs : </h3>

    

<h3 id="top1">{{top[0]}}</h3>
<h3 id="top2">{{top[1]}}</h3>
<h3 id="top3">{{top[2]}}</h3>
<h3 id="top4">{{top[3]}}</h3>
<h3 id="top5">{{top[4]}}</h3>

<h3 id="bot1">{{bottom[0]}}</h3>
<h3 id="bot2">{{bottom[1]}}</h3>
<h3 id="bot3">{{bottom[2]}}</h3>
<h3 id="bot4">{{bottom[3]}}</h3>
<h3 id="bot5">{{bottom[4]}}</h3>

<h3 id="foot1">{{foot[0]}}</h3>
<h3 id="foot2">{{foot[1]}}</h3>
<h3 id="foot3">{{foot[2]}}</h3>
<h3 id="foot4">{{foot[3]}}</h3>
<h3 id="foot5">{{foot[4]}}</h3>



</body>
</html>